<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_HOME">/www/logs/fossa/fossa</Property>
        <Property name="FILE_NAME">fossa</Property>
        <Property name="LOG_PATTERN">%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] [%X{requestURI}] [%X{msgId}] - %msg%n</Property>
    </Properties>
    <Appenders>
        <!-- 将日志输出到控制台 -->
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <RollingFile name="RollingFile"
                     fileName="${LOG_HOME}/${FILE_NAME}.log"
                     filePattern="${LOG_HOME}/%d{yyyy-MM}/${FILE_NAME}-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
                <Charset>UTF-8</Charset>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <!-- 接口请求、响应日志记录 -->
        <RollingFile name="LoggingRollingFile"
                     fileName="${LOG_HOME}/${FILE_NAME}-logging.log"
                     filePattern="${LOG_HOME}/%d{yyyy-MM}/${FILE_NAME}-logging-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
                <Charset>UTF-8</Charset>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <!-- error日志输出文件 -->
        <RollingRandomAccessFile name="RollingFileError"
                                 fileName="${LOG_HOME}/${FILE_NAME}-error.log"
                                 filePattern="${LOG_HOME}/%d{yyyy-MM}/${FILE_NAME}-error-%d{yyyy-MM-dd}-%i.log.gz">
            <filters>
                <ThresholdFilter level="FATAL" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            </filters>
            <PatternLayout>
                <pattern>${LOG_PATTERN}</pattern>
                <Charset>UTF-8</Charset>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <!-- 接口请求、响应日志记录 -->
        <logger name="REQUEST_LOGGING" level="INFO" additivity="false">
            <appender-ref ref="LoggingRollingFile" />
        </logger>
        <logger name="org.springframework.core" level="info"/>
        <logger name="org.springframework.beans" level="info"/>
        <logger name="org.springframework.context" level="info"/>
        <logger name="org.springframework.web" level="info"/>
        <Logger name="org.apache.coyote.http11.Http11NioProtocol" level="warn"/>
        <Logger name="org.apache.tomcat.util.net.NioSelectorPool" level="warn"/>
        <Logger name="org.apache.catalina.startup.DigesterFactory" level="error"/>
        <Logger name="com.hyxt" level="info" />
        <Root level="info">
            <!--<AppenderRef ref="Console"/>-->
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="RollingFileError"/>
        </Root>
    </Loggers>
</Configuration>